.bubble
{
position: relative;
width: 500px;
height: 185px;
background: #FFFFFF;
background-image: url('https://i.postimg.cc/50191XnF/1.png');
background-size: 160%;
background-position: 35% 45%;
background-repeat: no-repeat;
-webkit-border-radius: 46px;
-moz-border-radius: 46px;
border-radius: 46px;
border: hwb(180 49% 50%) solid 3px;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 33px 25px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -33px;
left: 334px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 35px 27px 0;
border-color: #7D7F7F transparent;
display: block;
width: 0;
z-index: 0;
bottom: -38px;
left: 332px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(6, 300px);
    justify-content: center;
    gap: 30px;
}

.commonBoxStyle{
    position: relative;
    border: 1px solid black;
    text-align: center;
    box-shadow: 9px 11px 6px 3px rgba(0,0,0,0.45);
    box-sizing: border-box;
    overflow: hidden;
}
.overlay{
    width: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.603);
    overflow: hidden;
    color: transparent;
    /*transition from hover to unhover*/
    transition: 
        width   .2s .05s cubic-bezier(.23,.65,.19,1),
        color   .1s cubic-bezier(0.00, 0.78, 0.28, 0.97);
    

}
.commonBoxStyle:hover .overlay{
    width: 300px;
    color: white;
    /*transition from unhover to hover*/
    transition: 
        width   .2s cubic-bezier(.23,.65,.19,1),
        color   .1s .15s cubic-bezier(.72,.03,1,.22);
    
}
.contents{
    position: absolute;
    left: 20px;
    width: auto;
    margin: 10px;
    text-align: left;
    white-space: normal;
}
.box1 {
    position: relative;
    grid-column: 1/4;
}
.Detail1 {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
    


.box2 {
    grid-row: 2/4;
}
.box3 {
    grid-column: 2/ 4;
}
.box4 {

    grid-column: 2/4;
}
.box5 {
    grid-column: 1/3;
}
.box6 {
    grid-column: 3/ 4;
}
.box7 {
    margin-bottom: 30px;
    grid-row: 5 / 7;
}
.box8 {
    margin-bottom: 30px;
    grid-row: 5/-1;
    grid-column: 2/4;
}
.commonBoxStyle>a{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.box1>a>div{
    width: 50%;
    height: auto;
    font-size: 100px;
    font-weight:bold;
    color: rgb(172, 8, 8);
    text-shadow: 
        3px 3px 4px rgb(118, 21, 8),
        -3px -3px 4px rgb(118, 21, 8),
        3px -3px 4px rgb(118, 21, 8),
        -3px 3px 4px rgb(118, 21, 8);
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}