<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C.A.I info</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
</head>

<body>
    <div class="bubble">제목을 입력합니다</div>
    
    <div class="container">

        <div class = "commonBoxStyle box1" onmouseenter="hideNshow(0,0)" onmouseleave="hideNshow(0,1)">
            <div class="overlay">
                <div class="contents" id="_0">
                    In the ever-evolving world of IT security, online criminals are continuously looking for new ways to gain access to your private information. Research shows the days of one-word passwords are numbered and taking their place are passphrases – multiple word phrases using letters, symbols and spaces to create keys that are nearly impossible to crack.
                </div>
            </div>
            <p> 이미지를 삽입합니다. </p>
        </div>
        <div class = "commonBoxStyle box2" onmouseenter="hideNshow(1,0)" onmouseleave="hideNshow(1,1)">
            <div class="overlay">
                <div class="contents" id="_1">
                    In the ever-evolving world of IT security, online criminals are continuously looking for new ways to gain access to your private information. Research shows the days of one-word passwords are numbered and taking their place are passphrases – multiple word phrases using letters, symbols and spaces to create keys that are nearly impossible to crack.
                </div>
            </div>
            <p> 이미지를 삽입합니다. </p>
        </div>
        <div class = "commonBoxStyle box3" onmouseenter="hideNshow(2,0)" onmouseleave="hideNshow(2,1)">
            <div class="overlay">
                <div class="contents" id="_2">
                    In the ever-evolving world of IT security, online criminals are continuously looking for new ways to gain access to your private information. Research shows the days of one-word passwords are numbered and taking their place are passphrases – multiple word phrases using letters, symbols and spaces to create keys that are nearly impossible to crack.
                </div>
            </div>
            <p> 이미지를 삽입합니다. </p>
        </div>
        <div class = "commonBoxStyle box4" onmouseenter="hideNshow(3,0)" onmouseleave="hideNshow(3,1)">
            <div class="overlay">
                <div class="contents" id="_3">
                    In the ever-evolving world of IT security, online criminals are continuously looking for new ways to gain access to your private information. Research shows the days of one-word passwords are numbered and taking their place are passphrases – multiple word phrases using letters, symbols and spaces to create keys that are nearly impossible to crack.
                </div>
            </div>
            <p> 이미지를 삽입합니다. </p>
        </div>
        <div class = "commonBoxStyle box5" onmouseenter="hideNshow(4,0)" onmouseleave="hideNshow(4,1)">
            <div class="overlay">
                <div class="contents" id="_4">
                    In the ever-evolving world of IT security, online criminals are continuously looking for new ways to gain access to your private information. Research shows the days of one-word passwords are numbered and taking their place are passphrases – multiple word phrases using letters, symbols and spaces to create keys that are nearly impossible to crack.
                </div>
            </div>
            <p> 이미지를 삽입합니다. </p>
        </div>
        <div class = "commonBoxStyle box6" onmouseenter="hideNshow(5,0)" onmouseleave="hideNshow(5,1)">
            <div class="overlay">
                <div class="contents" id="_5">
                    In the ever-evolving world of IT security, online criminals are continuously looking for new ways to gain access to your private information. Research shows the days of one-word passwords are numbered and taking their place are passphrases – multiple word phrases using letters, symbols and spaces to create keys that are nearly impossible to crack.
                </div>
            </div>
            <p> 이미지를 삽입합니다. </p>
        </div>
        <div class = "commonBoxStyle box7" onmouseenter="hideNshow(6,0)" onmouseleave="hideNshow(6,1)">
            <div class="overlay">
                <div class="contents" id="_6">
                    In the ever-evolving world of IT security, online criminals are continuously looking for new ways to gain access to your private information. Research shows the days of one-word passwords are numbered and taking their place are passphrases – multiple word phrases using letters, symbols and spaces to create keys that are nearly impossible to crack.
                </div>
            </div>
            <p> 이미지를 삽입합니다. </p>
        </div>
        <div class = "commonBoxStyle box8" onmouseenter="hideNshow(7,0)" onmouseleave="hideNshow(7,1)">
            <div class="overlay">
                <div class="contents" id="_7">
                    In the ever-evolving world of IT security, online criminals are continuously looking for new ways to gain access to your private information. Research shows the days of one-word passwords are numbered and taking their place are passphrases – multiple word phrases using letters, symbols and spaces to create keys that are nearly impossible to crack.
                </div>
            </div>
            <p> 이미지를 삽입합니다. </p>
        </div>
    </div>
</body>

</html>