<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C.A.I info</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <div class="bubble">
         제목을 입력합니다
     </div>
    <div class = "box1">
        <p> 이미지를 삽입합니다. </p>
    </div>
    <div class = "box2">
        <p> 이미지를 삽입합니다. </p>
    </div>
    <div class = "box3">
        <p> 이미지를 삽입합니다. </p>
    </div>
    <div class = "box4">
        <p> 이미지를 삽입합니다. </p>
    </div>
    <div class = "box5">
        <p> 이미지를 삽입합니다. </p>
    </div>
</body>

</html>